

<div class="container">
<!-- 	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<h2>Contact Me</h2>
			<form method="POST" class="conPost">
			  <label class="labelC" for="email">Your Email:</label>
			  <input class="inputF" name="email" placeholder="yourname@company.com" /><br />
			  <label class="labelC" for="subject">Subject:</label>
			  <input id="subBox" class="inputF" name="subject" placeholder="Enter a title" /><br />
			  <textarea class="inputF" id="cmmntBox" name="comment"></textarea><br />
			  <input id="button" class="inputF" type="submit" value="Send" />
			</form>
		</div>
		<div class="col-sm-4"></div>
	</div> -->
	<div class="row">
		<div class="col-sm-4">
			<div class="Social">
				<a href="https://github.com/Kharmon94"><img class="conimg" src="/GitHub.png" ></a><br>
				<a href="https://www.linkedin.com/in/helloimkyle/"><img class="conimg2" src="/linkedin.png" ></a><br> 
				<h1>Email: KyleHarmon52@gmail.com</h1>
			</div>
		</div>
	</div>
</div>


