<!-- Home page layout will include the header nav bar and footer from the layout page. 

This page will feature a larger format logo or company photo with a quick description wrapped or underneath.

Along the side this page will have a column to feature some scrolling, tech related information pulled from an api.

-->
<body>
	<img id="background" src="sitebackground.png">
	<div class="container">
		<div class="row">
			<div class="col-sm-12" id="logoDivHome" href="/portfolio" >
					<img src="newlogo.png" id="homeLogo">
			</div>
			
		</div>
	</div>
</body>
